.landing-page-bg {
    background: url('/images/landing_page_2.png') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    /* scrolls with content */
}

/* Reduce the number of grid lines */
.landing-page-bg canvas,
.reduced-grid canvas {
    background-size: 100px 100px;
    /* increase spacing between grid lines */
}

/* Gradient background image for intro section */
.intro-page {
    background: url('/images/home_page.png') no-repeat center center fixed;
    background-size: cover;
}

